*{
    box-sizing: border-box;
}
body{
    background-image: url("pexels-fotios-photos-1107717.jpg");
    padding: 0;
    margin: 0;
    height: 100vh;
    background-size: cover;
}
.container{
    overflow: hidden;
}
h2{
    font-style: italic;
    background-color: greenyellow;
    color: white;
    width: fit-content;
    padding-right: 45px;
   transform: skewX(-25deg);
}
button{
    width: 100%;
    padding: 2px !important;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(163, 158, 158);
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
button:hover{
    border:1px solid aquamarine;
}
.listwarpper{
    height: 100vh;
    width: 80%;
    /* background-color: rgb(185, 92, 25,0.7); */
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(74, 180, 74,0.5);

}
 @media screen and (max-width:550px) {/*for the new feature */
    li{
        font-size: 18px !important;
    }
    .listwarpper{
        height: 80vh;
        width: 100%;

    }
    button{
    font-style: italic;
    font-weight: bold;
    width: auto !important;
    color: rgb(27, 25, 25);
    padding: 0 !important;
    cursor: pointer;
    flex-grow: 1 !important;
    letter-spacing: normal;
    }
    .listwarpper{
        flex-grow: 1;
    }
    .listandnew{
        display: flex;
        flex-direction: column;
    }
    .newfeature{
    
    display: flex;
    width: 100%;
    flex-direction: row !important;
    height: fit-content !important;
 }
.conbox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 0, 0.822);
    width: 70%;
 }
    
}
#mybutton{
    color: red;
    border: none;
    padding:auto 5px;
    border: none;
    width: fit-content;
    white-space: nowrap;
    border-radius: 2px;
    min-width:10px;
    cursor: pointer;
}

li.selected{
    background-color:#0e74db;
}
li{
    width: 100%;
    font-size: 20px;
    word-wrap: break-word;
    margin-left: 3px;
    padding: 0;
    color:rgb(57, 8, 192);/*testing*/
    font-family: "Times New Roman", Times, serif;
}
#list{
    padding-left: 25px;
    border: none;
    outline: none;
}

 #text{
    height: 25px;
    flex-grow: 1;
    border: none;
    outline: none;
 }
 .inputwarpper{
    display: flex;
    justify-content: space-around;
    border: 3px solid cyan;
    height: 30px;
    width: 100%;
 }
 .listandnew{
    display: flex;
 }
 .newfeature{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(163, 158, 158);
    gap: 10px;
 }
 #delete{
    width: 100%;
    height: auto;
    cursor: pointer;
    padding: 0;
 }
 #dabutton{
    width: 100%;
    height: auto;
    white-space: nowrap;
    cursor: pointer;
    padding: 0;
 }
 .conbox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 0, 0.747);
    height: 90px;
    width: 200px;
    border-radius: 5px;
 }
#butttonwarper{
    display: flex;
    justify-content: flex-end;
}
.ptag{
    margin: 5px;
}
.h4tag{
    margin: 5px;
}
.icon{
    font-size: large !important;
    color: rgb(14, 22, 131);
    vertical-align: middle;
}
.displaydiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
    width: 170px;
    height: 165px;
    text-align: center;
    border-radius: 6px;
}
.detailbutton{
    width: 30px !important;
    padding: 5px;
    background-color: rgb(165, 140, 140,0.5);
    border-radius: 5px;
}
#buttonwarper{
    display: flex;
    justify-content: flex-start;
    flex-direction:row-reverse;
    gap: 3px;
}
.okbutton{
    width: auto;
    letter-spacing: normal;
    background-color: #0ea584;
    border-radius: 5px;
}
.canbutton{
    width: auto;
    letter-spacing: normal;
    background-color: #109679;
    border-radius: 5px;
}
.iconwarper{
    text-align: center;
}
.iconwarper h4{
    color: rgba(201, 9, 9, 0.822);
    font-weight: bold;
    font-style: oblique;
}
h4 span{
    vertical-align: middle;
    font-size: large !important;
    color: rgb(226, 46, 14);
}
.ptag1{
    background-color: black;
    color: wheat;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    animation: setting 2s forwards;
    white-space: nowrap;
}
@keyframes setting {
    from{
        top: 60%;
    }
    to{
        top:40%;
    }
}